<!DOCTYPE html>
<html lang="en" class="demo-2 no-js">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
		<link rel="stylesheet" href="stylesheets/application.css" type="text/css" />
	</head>

	<body>
			<div id = 'qsearch' value = "#{@name}"></div>
			<h1><%= "Let's see how many times @#{@name} has been mentioned!"%></h1> 
			<div id="chart1">
				<svg></svg>
			</div>
			<form action='/parse' method="POST" id="searchForm" >
				<label>User</label>
				<input ... name="name"  type = "text"/>
				<input type="submit"></input>
			</form>
	</body>
 
	<script src="javascript/d3.v3.js"></script>
	<script src="javascript/nv.d3.js"></script>
	<script src="javascript/tooltip.js"></script>
	<script src="javascript/utils.js"></script>
	<script src="javascript/axis.js"></script>
	<script src="javascript/discreteBar.js"></script>
	<script src="javascript/discreteBarChart.js"></script>
	<script>
	$(function() {
	  $("form#searchForm").submit(function(e){
	    e.preventDefault();
	     var term = $( "input[name='name']" ).val();
	    $.ajax({
	      type: "POST",
	      url: "/parse",
	      data: { name: term},
	      success: function(){
	        console.log("Successfully posted")
	      },
	      error: function(){
	        console.log("Not Successful posting")

	      }
	    });
	  });
	});
	</script>
	<script>
	var some_data = <%= @data.to_json %>;
	nv.addGraph(function() {  
	  var chart = nv.models.discreteBarChart()
	      .x(function(d) { return d.label })
	      .y(function(d) { return d.value })
	      .staggerLabels(true)
	      .tooltips(false)
	      .showValues(true)
	      .transitionDuration(250)
	      ;

	  d3.select('#chart1 svg')
	      .datum(some_data)
	      .call(chart);

	  nv.utils.windowResize(chart.update);

	  return chart;
	});

	</script>
	<script>
	$(function() {
	  $("form#searchForm").submit(function(e){
	    e.preventDefault();
	    var term = $( "input[name='name']" ).val();
	    $.ajax({
	      type: "GET",
	      url: "/",
	      data: { name: term},
	      success: function(){
	        console.log("Successfully got")
					
	      },
	      error: function(){
	        console.log("Not Successful")
	      }
	    });
	  });
	});
	</script>
</html>